<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='images/resume.png')}}">
    <title>Admin</title>
</head>
<body>
    <!--header-->
    <div class="header">
        <h1>Admin Panel</h1>
        <h3>Logged in as {{ user }}</h3>
        <img src="{{ url_for('static', filename='images/cloud.png') }}" id="cloud1" alt="cloud">
        <img src="{{ url_for('static', filename='images/cloud.png') }}" id="cloud2" alt="cloud">
    </div>

    <!--body-->
    <div class="body">
        <a href="/" class="home-btn">Home</a>
        <!--navigation and logout-->
        <div class="nav">
            <div class="navsection" id="admlgn">
                <div><a href="/logout">Logout</a></div>
            </div>
            <div class="navsection">
                <div><a href="#skill">Skills-Education</a></div>
                <div><a href="#proj">Projects</a></div>
                <div><a href="#diss">Dissertations</a></div>
                <div><a href="#files">Files</a></div>
            </div>
        </div>

        <div style="display: flex; justify-content: center;">
            <!--section of available skills and options to add or edit skill-->
            <div class="content">
                <h2><a name="skill">Skills</a></h2>
                <table>
                    <thead>
                        <td>Skill</td>
                        <td></td>
                    </thead>
                    <tbody>
                        {% for skill in skills %}
                        <tr>
                            <td>{{ skill.name }}</td>
                            <td>
                                <div class="skill-btn">
                                    <a href="{{ '/deleteskill/' ~ skill.name }}" id="deleteLink" onclick="confirmAction(event, 'deleteLink')">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td> </td>
                            <td>
                                <div class="skill-btn"><a href="/adminpanel/addskill">Add</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--section of available educations and options to add or edit education-->
            <div class="content">
                <h2><a name="edu">Educations</a></h2>
                <table>
                    <thead>
                        <td>Title</td>
                        <td></td>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td>{{ course.coursetitle }}</td>
                            <td>
                                <div class="edu-btn">
                                    <a href="{{ '/adminpanel/editcourse/' ~ course.coursetitle }}">Change</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td> </td>
                            <td>
                                <div class="edu-btn"><a href="/adminpanel/addcourse">Add</a></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--section to change  files-->
        <div class="content">
            <h2><a name="files">Change Files</a></h2>
            <form action="/adminpanel" method="post" enctype="multipart/form-data">
                <div class="formblock">
                    <label for="imginput">Profile Picture</label>
                    <input type="file" name="dpinput" accept=".jpg, .png, .jpeg">
                </div> 

                <div class="formblock">
                    <label for="imginput">Resume</label>
                    <input type="file" name="resumeinput" accept=".pdf">
                </div>

                <div class="formblock">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <!--section of available project and options to add project-->
        <div class="content">
            <h2><a name="proj">Projects</a></h2>
            <div class="project">
                <button class="prev-btn"><img class="arrow-btn" src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></button>
                <button class="next-btn"><img class="arrow-btn" src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></button>
                <div class="project-container">
                    <!--available projects-->
                    {% for project in projects %}
                    <div class="project-card">
                        <img src="{{ url_for('static', filename='images/' ~ project.imgpath) }}" alt="project-Thumbnail" class="project-img">
                        <p class="card-text">{{ project.title[:15] }}...</p>
                        <div class="project-btn">
                            <a href="{{ '/adminpanel/editproject/' ~ project.stub }}">Change</a>
                        </div>
                    </div>
                    {% endfor %}

                    <!--add project option-->
                    <div class="project-card">
                        <div class="project-add-btn">
                            <a href="/adminpanel/addproject"><img src="{{ url_for('static', filename='images/plus.png') }}" alt="project-Thumbnail"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--section of available dissertation and options to add dissertation-->
        <div class="content">
            <h2><a name="diss">Dissertations</a></h2>
            <div class="project">
                <button class="prev-btn"><img class="arrow-btn" src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></button>
                <button class="next-btn"><img class="arrow-btn" src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></button>
                <div class="project-container">
                    <!--available dissertations-->
                    {% for diss in dissertations %}
                    <div class="project-card">
                        <img src="{{ url_for('static', filename='images/' ~ diss.imgpath) }}" alt="dissertation-Thumbnail" class="project-img">
                        <p class="card-text">{{ diss.title[:15] }}...</p>
                        <div class="project-btn">
                            <a href="{{ '/adminpanel/editdissertation/' ~ diss.stub }}">View More</a>
                        </div>
                    </div>
                    {% endfor %}

                    <!--add disseration option-->
                    <div class="project-card">
                        <div class="project-add-btn">
                            <a href="/adminpanel/adddissertation"><img src="{{ url_for('static', filename='images/plus.png') }}" alt="project-Thumbnail"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--goto top button-->
        <div class="gototop">
            <a href="#"><img src="{{ url_for('static', filename='images/up-arrow.png') }}" alt="uparraow"></a>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <!--links-->
        <div class="list">
            <div><a href="{{ params['gh_url'] }}" target="_blank">GitHub</a></div>
            <div><a href="{{ params['li_url'] }}" target="_blank">Linked In</a></div>
            <div><a href="/download">Resume</a></div>
        </div>

        <!--contacts-->
        <div class="contact">
            <div class="contact-option">
                <img src="{{ url_for('static', filename='images/email.png') }}" alt="contact" class="img-contact">
                <p class="contact-para">{{ params['mailid'] }}</p>
            </div>
            <div class="contact-option">
                <img src="{{ url_for('static', filename='images/addrs.png') }}" alt="contact" class="img-contact">
                <p class="contact-para">{{ params['address'] }}</p>
            </div>
            <div class="contact-option">
                <img src="{{ url_for('static', filename='images/phone.png') }}" alt="contact" class="img-contact">
                <p class="contact-para">{{ params['phone'] }}</p>
            </div>
        </div>
        <div class="copyright">&copy{{ params["copyrighttext"] }}</div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>